@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Poppins:wght@400;600;700&display=swap');
html {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(16, 16, 16);
  color: rgb(243, 244, 246);
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

* {
  box-sizing: border-box;
}
